@use "../../../styles/base" as *;

.reporting {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  &__left {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    background: $light-blue;

    &__top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__heading {
        color: $main-blue;
        font-weight: 600;
        padding: 2rem 0;
        font-size: 1.5rem;
        cursor: pointer;
      }

      &__link-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;

        a {
          color: #000;
          font-weight: 500;

          &:hover,
          &.active {
            color: $main-blue;
          }
        }
      }
    }
  }

  &__right {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

    &__header {
      padding: 1rem 0;
      display: flex;
      justify-content: space-between;

      &__heading {
        font-weight: 700;
      }
    }
  }
}
