@import "base";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
}

#app {
  min-height: 100vh;
  height: 100%;
}

.ui.grid {
  height: 100%;

  .row {
    width: 100%;
    // padding: 0;
  }
}
