@use "../../../styles/base" as *;

.excos-history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    font-weight: 700;
  }

  &__form {
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 2rem;

    &__container {
      width: 50%;
      &__group {
        padding: 0.5rem 0;
        display: flex;
        justify-content: space-between;
      }

      &__item {
        padding: 0.5rem 0;
      }

      &__button-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem 0;

        .ui.button {
          padding: 1rem 2rem;

          &:first-of-type {
            background: $main-blue;
            color: #fff;

            &:hover {
              background: $light-blue;
            }

            &:active {
              background: transparent;
              border: 1px solid $main-blue;
              color: $main-blue;
            }
          }

          &:last-of-type {
            background: transparent;
            border: 1px solid $main-blue;
            color: $main-blue;

            &:hover {
              background: #d5f0f5;
            }

            &:active {
              background: $main-blue;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
