@use "../../../styles/base" as *;

// RESET OF DEFAULT STYLE FOR SEMANTIC UI "VERY BASIC" TABLE---------------------
.ui[class*="very basic"].table:not(.sortable):not(.striped)
  thead
  tr:first-child
  th {
  padding-top: 13px;
}

.ui[class*="very basic"].table:not(.sortable):not(.striped) td:first-child,
.ui[class*="very basic"].table:not(.sortable):not(.striped) th:first-child {
  padding-left: 11px;
}

// ---------------------

.member-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;

    h1 {
      margin: auto 0;
    }

    .ui.button {
      margin: 0 1rem;
      background: $main-blue;
      color: #fff;

      &:hover {
        background: rgba(1, 127, 148, 0.7);
      }

      &:active {
        background: transparent;
        border: 1px solid $main-blue;
        color: $main-blue;
      }
    }
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__select-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 0.5rem;
      * {
        margin: 0;
      }
    }

    &--item {
      padding: 1rem;
      border: 1px solid #e5e5e5;
      display: inline-block;
    }
  }

  &__table {
  }

  &__bottom {
    .ui.button {
      background: transparent;
      border: 1px solid #afafaf;
      border-radius: 5px;

      &:last-child {
        border: 1px solid $main-blue;
        color: $main-blue;
      }
    }
  }
}
