@use "../../../styles/base" as *;

.ui.form .fields > .field {
  padding-left: 0;
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;

  &__form {
    padding: 2rem;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__top {
      padding: 1rem 0;

      &__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 0.5rem 0;
      }
    }

    &__middle {
      padding: 1rem 0;

      &__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
      }
    }

    &__button-container {
      padding: 1rem 0;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      .ui.button:first-of-type {
        background: $main-blue;
        color: #fff;

        &:hover {
          background: #66b5c4;
        }

        &:active {
          background: transparent;
          border: 1px solid $main-blue;
          color: $main-blue;
        }
      }

      .ui.button:last-of-type {
        background: transparent;
        border: 1px solid $main-blue;
        color: $main-blue;

        &:hover {
          background: #d5f0f5;
        }

        &:active {
          background: $main-blue;
          color: #fff;
        }
      }
    }
  }
}
