@use "../../../styles/base" as *;

.ui.grid {
  .row {
    .profile-sidebar {
      background: rgba(1, 127, 148, 0.1);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .upper-row {
        // height: 40vh;
        padding: 1rem 3rem;

        &__column {
          margin: 0;
          display: flex;
          flex-direction: column;
          // justify-content: space-around;
          align-items: flex-start;
          // padding: 1rem 3rem;
          height: 100%;

          &__row {
            padding: 1rem 0;

            &__column {
              // padding: 1rem 0;
              a {
                &:hover,
                &.active {
                  color: $main-blue;
                }
              }
            }
          }
        }
      }

      .bottom-row {
        padding: 3rem;
      }

      .link {
        color: black;
        justify-self: flex-start;
        cursor: pointer;

        &:hover {
          color: $main-blue;
        }
      }
    }

    .profile-main {
      padding: 1rem;

      &__row {
        padding: 1rem 1rem;

        &__form {
          border: 1px solid #e5e5e5;
          border-radius: 2px;
          padding: 2rem;

          &__row {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            padding: 0.5rem 0;

            .ui.button:first-of-type {
              background: $main-blue;
              color: #fff;

              &:hover {
                background: #66b5c4;
              }

              &:active {
                background: transparent;
                border: 1px solid $main-blue;
                color: $main-blue;
              }
            }

            .ui.button:last-of-type {
              background: transparent;
              border: 1px solid $main-blue;
              color: $main-blue;

              &:hover {
                background: #d5f0f5;
              }

              &:active {
                background: $main-blue;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
